.picker__date-display, .picker__weekday-display
        {
            background-color: #de49d4;
        }

.picker__date-display 
        {
            text-align: center;
            background-color: #f398ed;
            color: #fff;
            padding-bottom: 15px;
            font-weight: 300;
        }

.picker__day.picker__day--today
        {
            color: #d423c8;
        }

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected
        {
           border-radius: 50%;        
           -webkit-transform: scale(0.9);
           transform: scale(0.9);
           background-color: #d423c8;
           color: #ffffff;
       }
.picker__close, .picker__today {
        font-size: 1.1rem;
        padding: 0 1rem;
        color: #d423c8;
    }
.btn-flat
    {
       box-shadow: none;
       background-color: transparent;
       color: #d423c8;
       cursor: pointer;
   }

.dropdown-content li>a, .dropdown-content li>span {
        color:#d423c8;
   }


::-webkit-input-placeholder 
   {
    color: black;
	}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
	}

::-moz-placeholder {  /* Firefox 19+ */
    color: black;  
	}

:-ms-input-placeholder {  
    color: black;  
}